name: CI

on: [push, pull_request]

jobs:
  SetUpEnvironment:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup .NET environment
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Build
      run: dotnet build
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build-artifacts
        path: TheInternetApp/bin/Debug/net6.0/

  dockerApplicationSetUp:
    runs-on: ubuntu-latest
    steps:
    - name : Pull docker image
      run: docker pull gprestes/the-internet
    - name: Run docker image
      run: docker run -d -p 7080:5000 gprestes/the-internet

  webBrowserSystemTests:
    strategy:
      matrix:
        operating-system: [macos-latest, windows-latest, ubuntu-latest]
        web-browser: [GoogleChrome, MicrosoftEdge]
    needs: [SetUpEnvironment, dockerApplicationSetUp]
    runs-on: ${{ matrix.operating-system }}
    env:
      WebBrowser: ${{ matrix.web-browser }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup .NET environment
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Download build artifacts
      uses: actions/download-artifact@v3
      with:
        name: build-artifacts
    #- name: Build # Name of an action.
      #run: dotnet build # Run system command in a new virtual environment and process. Build project into binaries. Does not do restore while compiling.
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Upload logs from System tests
      uses: actions/upload-artifact@v3
      with:
        name: system-tests-logs
        path: TheInternetApp/bin/Debug/net6.0/logs/
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build-artifacts-${{ matrix.operating-system }}-${{ matrix.web-browser }}
        path: TheInternetApp/bin/Debug/net6.0/

  webBrowserUiTests:
    runs-on: ubuntu-latest
    needs: SetUpEnvironment
    steps:
    - name : Pull docker image
      run: docker pull gprestes/the-internet
    - name: Run docker image
      run: docker run -d -p 7080:5000 gprestes/the-internet
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: 17.9.0
    - name: Setup testcafe environment
      uses: DevExpress/testcafe-action@latest
      with:
        args: "chrome:headless ./TheInternetApp/UiTests/Tests"
